<div class="svg-container">
    <img src="Assets/Logo.svg" class="logo-svg" alt="Logo SVG" />

    <img src="Assets/Aviao.svg" class="plane-svg" alt="Plane SVG" />
</div>

<style>
    .svg-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-svg {
        z-index: 1;
    }

    .plane-svg {
        position: absolute;
        z-index: 2;
        animation: rotate 5s linear infinite;
    }

    @@keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
</style>

@code {

}
